.app-container{
  font-family: var(--sans);
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.flex-container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--examples-height);
  width: var(--examples-width);
  background-color: #f0f0f0;
  .flex-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    &:hover {
      background-color: #45a049;
    }
  }

}

.flex-container-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--examples-height);
  width: var(--examples-width);
  background-color: #f0f0f0;
  .flex-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    &:hover {
      background-color: #45a049;
    }
    &:last-child {
      background-color: #2196F3;
    }
  }

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;

  .grid-item {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    &:hover {
      background-color: #45a049;
    }
  }
}